.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

    & > * {
      margin-bottom: 20px;
    }

    .file {
      background-color: #bdc3c7;
      padding: 20px 40px;
    }

    input {
      color: #bdc3c7;
    }
    label {
      color: #bdc3c7;
    }

    .btn {
      margin-top: 20px;
      width: 200px;
      background-color: #3498db;
      color: #fff;
    }
  }
}
